<img src="pixel-burger.png" alt="Pixel Burger" id="burger-img">

<h1>Eat-Da-Burger!</h1>
<h4>Burgers that are not devoured</h4>
<ul>
  {{#each burgers}} {{#unless devoured}}
  <li>{{burger_name}}
    <button class="devour" data-id="{{id}}">GIVE IT TO ME!</button>
  </li>
  {{/unless}} {{/each}}
</ul>
<hr>
<h4>Eaten burgers</h4>
<ul>
  {{#each burgers}} {{#if devoured}}
  <li>{{burger_name}}
    <button class="deleteBurger" data-id="{{id}}">Make room for more!</button>
  </li>
  {{/if}} {{/each}}
</ul>
<form class="create-form" method="POST" action="/burger">
  <textarea name="burger" rows="4" cols="30">
  </textarea>
  <br>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
<p>Enter a burger you'd like to eat, then click submit</p>