* {
  margin: 0 auto;
  padding: 10px;
  font-family: Courier, monospace;
  font-size:1.15em;
}

.text-center, #enter-burger {
  color:goldenrod;
}

.burgerDiv {
  color: #450101;
}
#not-devoured {
  color: 	#32c704;
}

#devoured {
  color: #ec3521;
}
/* .container {
  background-color: goldenrod;
} */

img{
  height: 200px;
  width: 200px;
  margin: 0 auto;
  position:absolute;
  top:0;
  z-index: -1;
}

#form {
  float:none;
}